body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(240, 242, 245);
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.darkMode {
  background-color: black;
  color: #000000;
}

.darkModeHeader {
  background-color: #4d4b4b;
}

.darkModeHeader h1 {
  color: rgb(83, 131, 253);
}

header {
  background-color: rgb(223, 228, 234);
  padding: 20px;
  text-align: center;
}

.darkModeToggle {
  position: absolute;
  left: 20;
}

header h1 {
  color: rgb(74, 111, 165);
  margin: 0;
  margin-right: 1%;
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title img {
  width: 50px;
  height: auto;
}

#emptyMessage {
  display: none;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin-top: 20px;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.btn {
  background-color: rgb(74, 111, 165);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 2%;
}

.btn:hover {
  background-color: rgb(59, 92, 135);
}

#searchBtn {
  background-color: rgb(74, 111, 165);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 2%;
}

#searchBtn:hover {
  background-color: rgb(59, 92, 135);
}

.searchBar {
  margin-top: 5%;
  text-align: center;
  margin-bottom: 15px;
}

.searchBar,
#addContactBtn,
#deleteAllBtn {
  margin-bottom: 10px;
}

.searchBar input {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 200px;
  font-size: 14px;
}

.actionBtns {
  margin-top: 5%;
  padding-right: 15%;
}

.phoneList li {
  background-color: rgb(207, 220, 231);
  border-radius: 2.5px;
  padding: 15px;
  border-bottom: 1px solid rgb(193, 201, 209);
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: background-color 1s, height 0.6s ease;
  height: 40px;
}

.phoneList li:hover {
  background-color: rgb(146, 147, 148);
  height: 60px;
  border-radius: 8px;
}

.phoneList li:last-child {
  border-bottom: none;
}

.popUp {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
}

.popupContent {
  position: fixed;
  background-color: rgb(244, 246, 248);
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  height: 300px;
  margin-top: -100px;
  margin-left: -150px;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
}

.popupContent h2 {
  margin-top: 0;
  color: rgb(74, 111, 165);
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  background-color: rgb(74, 111, 165);
  border: none;
  border-radius: 1.1em;
  font-size: 20px;
  color: rgb(51, 51, 51);
  cursor: pointer;
}

#addContactBtn {
  margin-top: 3%;
}

#editContactBtn {
  margin-top: 3%;
  background-color: rgb(74, 111, 165);
  border-radius: 8px;
  color: white;
}

.addContactForm input {
  margin: 1%;
  background-color: bisque;
  border: solid 1px;
  border-radius: 0.4em;
}

.phoneList li {
  padding: 15px;
  border-bottom: 1px solid rgb(193, 201, 209);
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: background-color 1s, height 0.6s ease;
  height: 40px;
}

.phoneList li:hover {
  background-color: rgb(146, 147, 148);
  height: 60px;
  border-radius: 8px;
}

.phoneList li:last-child {
  border-bottom: none;
}

.actions button {
  background-color: rgb(74, 111, 165);
  border: none;
  color: white;
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 4px;
  font-size: 12px;
}

.actions button:hover {
  background-color: rgb(59, 92, 135);
}

.actions {
  margin-left: auto;
}

footer {
  background-color: rgb(74, 111, 165);
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
}
